---
Checks:            '-*,modernize-use-nullptr,modernize-use-override,modernize-use-trailing-return-type,readability-braces-around-statements'
WarningsAsErrors:  ''
HeaderFilterRegex: '.*'
FormatStyle:       'file'
User:              neptune
