name: Main CI

on:
  push:
    branches: [ main, dev ]
    paths:
      - '.github/workflows/main_ci.yml'
      - 'res/**'
      - 'src/**'
      - 'CMakeLists.txt'
      - 'CMakePresets.json'
      - 'vcpkg.json'
      
  pull_request:
    branches: [ main ]
      
  workflow_dispatch:

jobs:
  build-and-test-vcpkg:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        build-type:
          - release
        compiler:
          - msvc
          
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: main
          submodules: recursive
     
      - name: Setup MSVC Environment
        uses: ilammy/msvc-dev-cmd@v1

      - name: Setup vcpkg
        uses: johnwason/vcpkg-action@v7
        with:
          manifest-dir: ${{ github.workspace }} # Set to directory containing vcpkg.json
          triplet: x64-windows-release
          token: ${{ github.token }}

      - name: Build
        uses: lukka/run-cmake@v10
        with:
          cmakeListsTxtPath: ${{ github.workspace }}/main/CMakeLists.txt
          configurePreset: 'x64-windows'
          buildPreset: 'x64-windows'
          
