name: Xmake CI

on:
  push:
    branches: [ main, dev ]
    paths:
      - '.github/workflows/main_ci.yml'
      - 'res/**'
      - 'src/**'
      - 'xmake.lua'
      
  pull_request:
    branches: [ main ]

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: main
          submodules: recursive

      - name: Setup XMake
        uses: xmake-io/github-action-setup-xmake@v1.0.13
        with:
          xmake-version: latest
          actions-cache-folder: '.xmake-cache'
          actions-cache-key: ${{ runner.os }}
 
      - name: Build
        run: |
          xmake f -v -y -m release
          xmake -vD -y -g default
          xmake f -v -y -m releasedbg
          xmake -vD -y

      - name: Pack
        run: |
          xmake pack
          echo "🗃️ Packed artifacts"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ${{ github.workspace }}/build/packages/**/*.zip


